*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#0B0717;
color:white;
padding-bottom:80px;

}

.header{

background:linear-gradient(
45deg,
#4B0082,
#8A2BE2
);

padding:20px;

text-align:center;

font-size:28px;

font-weight:bold;

box-shadow:0 4px 20px rgba(
138,
43,
226,
0.5
);

}

.container{

padding:15px;

}

.card{

background:#1A102D;

padding:15px;

border-radius:18px;

margin-bottom:15px;

box-shadow:0 4px 15px rgba(
0,
0,
0,
0.4
);

}

.card h2{

margin-bottom:12px;

font-size:20px;

}

button{

width:100%;

padding:12px;

border:none;

border-radius:12px;

background:#7B2EFF;

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

margin-top:8px;

}

button:active{

transform:scale(
0.97
);

}

.navbar{

position:fixed;

bottom:0;

left:0;

width:100%;

background:#13091F;

display:flex;

justify-content:space-around;

padding:15px;

box-shadow:0 -4px 15px rgba(
0,
0,
0,
0.4
);

}

.navitem{

font-size:18px;

cursor:pointer;

}

.mangaItem{

background:#25173D;

padding:15px;

margin-top:10px;

border-radius:15px;

border-left:5px solid #8A2BE2;

}

.mangaItem h3{

margin-bottom:8px;

}

.mangaItem p{

opacity:0.8;

margin-bottom:10px;

}
