*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0b0717;
color:white;
padding-bottom:80px;
}

.header{
padding:20px;
font-size:28px;
text-align:center;
font-weight:bold;
background:linear-gradient(
45deg,
#4B0082,
#8A2BE2
);
}

.page{
padding:15px;
}

.hidden{
display:none;
}

.card{
background:#1A102D;
padding:15px;
border-radius:15px;
margin-bottom:15px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#7B2EFF;
color:white;
margin-top:10px;
}

.mangaItem{
background:#25173D;
padding:12px;
margin-top:10px;
border-radius:10px;
}

.navbar{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#13091F;
padding:15px;
}
